// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center 17%;
  padding: 150px 0;
  height: 450px;
}

.banner h1 {
  position: relative;
  top: -100px;
  left: 145px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.form {
  color: white;
  position: relative;
  top: -19px;
  left: 320px;
  width: 240px;

}

.form .btn {
  background-color: rgba(106, 150, 100, 0.893);
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
  width: 90%;
  flex-grow: 1;
  flex-shrink: 1;
}

.form .input-home {
  flex-grow: 1;
  flex-shrink: 1;
}

.form #location {
  flex-grow: 1;
  flex-shrink: 1;
}



.form .btn:hover {
  background-color: rgba(209, 209, 209, 0.633);
}

.form .input {
  margin-left: 10px;
}

.container-cards {
  background-color: white;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 20px;
}

.cards .eachcards {
  width: 250px;
  height: 350px;
  border-color: rgb(171, 168, 168);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color:  rgba(106, 150, 100, 0.638) ;

}

.cardshome {
  width: 250px;
  height: 450px;
  position: relative;
  background-color: rgba(238, 238, 238, 0.663);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px;
}

.cardshome:hover {
  transform: scale(110%);
  transition: all ease-in 200ms;
  box-shadow: 1px 1px 20px 1px black;
  color: black;

}

.cards a {
  text-decoration: none;
  color: black;
}



.text-center {
  padding-top: 30px;
}
// .red-border {
//   border: 1px solid red;
// }
