// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center 17%;
  padding: 150px 0;
  height: 450px;
}

.banner h1 {
  position: relative;
  top: -100px;
  left: 145px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.containerhome h1{
  width: 500px;
}


.form {
  color: white;
  position: relative;
  top: -19px;
  left: 320px;
  width: 240px;
}
#location {
  width: 100%;
}

.form-banner .datecalendar {
  width: 100%;
}

.form .btn {
  background-color: rgba(106, 150, 100, 0.893);
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
  width: 100%;
  transition: transform 0.2s;

}

.form .btn:hover {
  transform: scale(105%);
  // transition: all ease-in 200ms;
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  color: black;
}

.form .input {
  margin-left: 10px;
}

.container-cards {
  background-color:#F4F4F4;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
  padding-bottom: 20px;
  gap: 70px;
}


.card-image-top {
  height: auto;
  max-height: 210px !important;
  max-width:100%;
  max-height:100%;
  display: block;
  margin: auto;
}


.cardshome:hover {
  transform: scale(105%);
  transition: all ease-in-out 200ms;
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  color: black;
}

.cards a {
  text-decoration: none;
  color: black;
}

.text-center {
  padding-top: 5px;
}


.cards-price {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
}

.cards-location {
  position: absolute;
  bottom: 40px;
  left: 0;
  margin-left: 10px;
  border-top: 1px solid #000;


}
