.divlogin {
  width: 130px;
  height: 50px;
  background-color: rgb(255, 128, 132);
  border-color: rgb(255, 128, 132);
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  color: white;
}

.divlogin:hover {
  transform: scale(105%);
  transition: all ease-in-out 200ms;
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  color: white;
  background-color: rgb(255, 128, 132);
}

.divforgotpass > a, .divsignup > a, .log-in-sign-up > a, .div-go-back > a {
  text-decoration: none;
  color: rgb(108, 117, 125);
}

.divsignup > a:hover{
  color: black;
}

.divforgotpass > a:hover{
  color: black;
}

.log-in-sign-up > a:hover{
  color: black;
}

.div-go-back > a:hover {
  color: black;
}



// .divsignup > a {
//   text-decoration: none;
//   color: rgb(108, 117, 125) ;
// }
