.btn-add-new {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 0 auto;
  width: 130px;
  height: 50px;
  background-color: rgb(255, 128, 132);
  border-color: rgb(255, 128, 132);
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  color: white;
}

.btn-add-new:hover {
  transform: scale(105%);
  transition: all ease-in-out 200ms;
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  color: white;
}
