.main-container{
  display: flex;
  margin: auto;
}

.wigs-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 16px;
  margin-left: 10px;
}


.map {
  flex-grow: 1;
  flex-shrink: 1;
  // height: 600px;
  // width: 470px;
}

.map img {
  position: sticky;
  width:100%;
  top: 0;
  right: 0;
  margin-left: 10px;
}

.div-card {
  // width: 250px;
  height: 450px;
}

.insidecard {
  width: 250px;
  height: 450px;
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
}

.div-card a {
  text-decoration: none;

}

.div-card:hover {
  transform: scale(110%);
  transition: all ease-in 200ms;
  box-shadow: 0px 0px 2px 0px rgb(34, 34, 34);
}

.title, .price {
  color: rgb(34, 34, 34);
}

.description, .location {
  color: rgb(113, 113, 113);
}

.card-image{
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
