.containerreservation {
  text-align: center;
  display: flex;
}

.formreservation {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
  height: 250px;
  width: 350px;
  position: sticky;
  top: 0;
  right: 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  right: 0;
  margin-left: 10px;
}

.btnreservation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 130px;
  height: 50px;
  background-color: #ff5d628a;
  border-color: #ff5d628a;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  color: white;
}

.d-flex a {
  text-decoration: none;

}

.btnreservation:hover {
  transform: scale(105%);
  transition: all ease-in-out 200ms;
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  color: white;

}

.link-div a {
  text-align: center;
  text-decoration: none;
  color: rgb(34, 34, 34);
}

.link-div a:hover {
  color: rgb(255, 56, 92);
}

// font color:
// rgb(255, 56, 92) -> red/pink -> logo
// rgb(34, 34, 34) -> black -> when hovered over
// rgb(108, 117, 125) -> gray -> all clickable link gray originally
// rgb(255,255,255) -> white -> Text of landing page in banner
