.main-container{
  display: flex;
  margin: auto;
}

.h1-index {
  padding-bottom: 20px;
}

.wigs-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 16px;
  margin-left: 10px;
}


.map {
  flex-grow: 1;
  flex-shrink: 1;
  // height: 600px;
  // width: 470px;
}

.map .map-geocode {
  position: sticky;
  width:100%;
  top: 10px;
  right: 0;
  margin-left: 10px;
  margin-top: 5px;
}

.div-card {
  // width: 250px;
  height: 500px;

}

.insidecard {
  width: 250px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  text-align: center;
}

.insidecard h3 {
  margin-top: 5px;
}

.card-image-all-wigs {
  height: auto;
  max-height: 210px !important;
  max-width:100%;
  max-height:100%;
  display: block;
  margin: auto;
}

.div-card a {
  text-decoration: none;
}

.div-card:hover {
  transform: scale(1.05);
  transition: all 500ms ease-in-out;
  box-shadow: 1px 1px 10px 1px rgba(76, 76, 76, 0.585);
  color: black;
  background: transparent;
  border-radius: 10px;
}

.title, .price {
  color: rgb(34, 34, 34);
}

.description, .location {
  color: rgb(113, 113, 113);
}

.card-image{
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
