<div class = "d-flex justify-content-center m-5">
  <h2>Discover the wigs in <%= @location %><h2>
</div>

<div class="main-container d-flex">

  <div class="cards-by-loc col-6">
    <%= render partial: 'shared/card' %>
  </div>

  <div class="map col-6">
    <div class="map-geocode">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
