<div class = "d-flex justify-content-center m-5">
  <h3>What do you want to do ?</h3>
</div>

<div class = "d-flex justify-content-center">
  <div class = "insidecard bg-white p-3 m-5">
    <h5>I want to put a new wig for rent</h5>
    <p><%= link_to "Create a wig", new_wig_path %></p>
  </div>

  <div class = "insidecard bg-white p-3 m-5">
    <h5>I want to see my bookings</h5>
    <p><%= link_to "View my bookings", booking_owner_path %>
  </div>
</div>
