<div class = "d-flex justify-content-center mt-4">
  <h3>What do you want to do ?</h3>
</div>

<div class = "ownercontainer d-flex justify-content-center">
  <div class = "ownercreate  p-3 m-3">



    <div class="text-center">
      <h5>I want to add a new wig for rent</h5>
    </div>
    <div class="text-center ">
      <p><%= link_to "", new_wig_path %></p>

    </div>

  </div>

  <div class = "ownercreateview  p-3 m-3">
    <div class="text-center">
      <h5>I want to see my bookings</h5>
    </div>
    <div class="text-center ">
      <p><%= link_to "", booking_owner_path %>
    </div>
  </div>
</div>
