<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
 ">
  <div class="container">
    <h1><strong>Hairbnb</strong> the <strong>solution</strong> to feel sexy again!</h1>
    <p></p>
    <a class="btn btn-flat" href="#">Check the Wigs</a>
  </div>
</div>
