<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
 url(<%= image_path('homebaldman.jpeg')%>)">
  <div class="container">
    <h1>Hairbnb, the solution to feel <br> sexy again!</h1>
    <p></p>
    <a class="btn" href="#">Check the Wigs</a>
  </div>
</div>

<h1 class = "text-center mt-4">Our top 10 best Wigs</h1>





<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> at Le Wagon by Etienne, Florian and William
  </div>
</div>
