.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.btn-discover {
  margin: auto;
}

.btn-discover a:hover{
  color: black;
}

.nav-item a:hover{
  color: black;
}

.btn-discover a {
  text-decoration: none;
  color: rgb(108, 117, 125);
  margin-left: 300px;
}

.navbar-nav {
  margin: auto;
}

.nav-item-owner #navbarDropdown {
  text-decoration: none;
  color: rgb(108, 117, 125);
}

.nav-item-owner p {
  margin: 8px;
}

.nav-item-owner #navbarDropdown:hover{
  color: black;
}

.dropdown-item:active {
  background-color:  rgb(172, 173, 174);
}
